In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('worldcities.xlsx')

#get a data frame with selected columns
FORMAT = ['city', 'lat', 'lng','country','iso2','population']
df_selected = df[FORMAT]

#insert in the dataframe the flag for the population
df_selected["flg_pop"]=df_selected.population.apply(lambda x: 1 if x > 200000 else 0 )
#df_selected.sort_values(by=['lng'], inplace=True)

<ipython-input-2-7b4b44020e0a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["flg_pop"]=df_selected.population.apply(lambda x: 1 if x > 200000 else 0 )

In [3]:
df_selected.sort_values(by=['lng'], inplace=True)

<ipython-input-3-b5e4a2b8de3d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected.sort_values(by=['lng'], inplace=True)

In [5]:
rslt_df = df_selected.loc[(df_selected['city'] == 'London') & 
              (df_selected['iso2']=='GB')] 
rslt_df

      city      lat     lng         country iso2  population  flg_pop
34  London  51.5072 -0.1275  United Kingdom   GB  10979000.0        1

In [19]:
rslt_df_2 = (df_selected['city'] == 'London') & (df_selected['iso2']=='GB')
rslt_df_2
pos = np.flatnonzero(rslt_df_2)
pos
#df_selected.iloc[pos]

array([13597], dtype=int64)